<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>704401402392-ma5v4paj9l9o2uj97ka746hmfmp7q44l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704401402392-ma5v4paj9l9o2uj97ka746hmfmp7q44l</string>
	<key>API_KEY</key>
	<string>AIzaSyCqsi1VTebiAoyIiu4NdDuolnD2gJNZ_Jg</string>
	<key>GCM_SENDER_ID</key>
	<string>704401402392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.ditonton</string>
	<key>PROJECT_ID</key>
	<string>ditonton-7b89b</string>
	<key>STORAGE_BUCKET</key>
	<string>ditonton-7b89b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704401402392:ios:cbbbebd5ad7530340c316d</string>
</dict>
</plist>